# 01. Importing libraries

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [5]:
path = r'/Users/user/Documents/Data analysis/E6 Dashboards/Data'

In [6]:
datacal = pd.read_csv(os.path.join(path, 'Original data', 'calendar.csv'))

In [7]:
datalis = pd.read_csv(os.path.join(path, 'Original data', 'listings.csv'))

# 03. Exploring data

In [9]:
# Starting with Calendar data
datacal.head()

   listing_id        date available price
0        2818  2019-12-05         f   NaN
1       73208  2019-08-30         f   NaN
2       73208  2019-08-29         f   NaN
3       73208  2019-08-28         f   NaN
4       73208  2019-08-27         f   NaN

In [10]:
print(datacal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
 2   available   object
 3   price       object
dtypes: int64(1), object(3)
memory usage: 223.1+ MB
None

In [11]:
print(datacal.isnull().sum())

listing_id          0
date                0
available           0
price         6110879
dtype: int64

In [12]:
print("Exact duplicate rows:", datacal.duplicated().sum())

Exact duplicate rows: 0

In [13]:
#Converting data type
datacal['date'] = pd.to_datetime(datacal['date'])
datacal['available'] = datacal['available'].astype('bool')
datacal['price'] = datacal['price'].str.lstrip('$')

In [14]:
datacal.head(260)

     listing_id       date  available   price
0          2818 2019-12-05       True     NaN
1         73208 2019-08-30       True     NaN
2         73208 2019-08-29       True     NaN
3         73208 2019-08-28       True     NaN
4         73208 2019-08-27       True     NaN
..          ...        ...        ...     ...
255      255809 2019-08-30       True  150.00
256      255809 2019-08-29       True  150.00
257      255809 2019-08-28       True  150.00
258      255809 2019-08-27       True  150.00
259      255809 2019-08-26       True  150.00

[260 rows x 4 columns]

In [15]:
#Making sure date is sucessfully converted to correct data type
print(datacal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        datetime64[ns]
 2   available   bool
 3   price       object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 174.3+ MB
None

In [16]:
# Continuing with Listings data
datalis.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [17]:
# Dropping unnecesary columns
datalis_rev = datalis.drop(columns = ['name', 'host_name', 'neighbourhood_group', 'last_review'])

In [18]:
print(datalis_rev.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20030 non-null  int64
 1   host_id                         20030 non-null  int64
 2   neighbourhood                   20030 non-null  object
 3   latitude                        20030 non-null  float64
 4   longitude                       20030 non-null  float64
 5   room_type                       20030 non-null  object
 6   price                           20030 non-null  int64
 7   minimum_nights                  20030 non-null  int64
 8   number_of_reviews               20030 non-null  int64
 9   reviews_per_month               17624 non-null  float64
 10  calculated_host_listings_count  20030 non-null  int64
 11  availability_365                20030 non-null  int64
dtypes: float64(3), int64(7), object(2)
memory usage: 1.8+ MB
None

In [19]:
print("Exact duplicate rows:", datalis_rev.duplicated().sum())

Exact duplicate rows: 0

In [20]:
print(datalis_rev.isnull().sum())

id                                   0
host_id                              0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                 2406
calculated_host_listings_count       0
availability_365                     0
dtype: int64

# 04. Exporting data

In [22]:
datacal.to_csv(os.path.join(path, 'Cleaned data', 'calendar_rev.csv'))

In [23]:
datalis_rev.to_csv(os.path.join(path, 'Cleaned data', 'listings_rev.csv'))